<!DOCTYPE html>
<html>
  <head>
    <title>TinderJobs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
      <em><%= value %></em>
    <% end %>

    <% if session[:user_id] %>
      <p><a href="/profile"> <%= button_tag "Home" %> </a></p>
      <p><a href="/logout"> <%= button_tag "Logout" %> </a></p>
    <% end %>
    <%= yield %>




  </body>
</html>
