<!DOCTYPE html>
<html>
  <head>
    <title>TinderJobs</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
     body {
         font: 20px 'Montserrat', sans-serif;
         line-height: 1.8;
         color: #f5f6f7;
     }
     p {
       font-size: 16px;
       color: #000;
     }
     h1 {
       color: #000;
     }
     h2 {
       color: #000;
     }

     h3 {
       color: #000;
     }
     .margin {margin-bottom: 45px;}
        .bg-1 {
          background-color: #EB6361;
           color: #ecf0f1;
           min-height: 90vh;
       }
     .bg-2 {
         background-color: #474e5d; /* Dark Blue */
         color: #ffffff;
     }
     .bg-3 {
         background-color: #ffffff; /* White */
         color: #555555;
     }
     .bg-4 {
         background-color: #2f2f2f; /* Black Gray */
         color: #fff;
     }
     .container-fluid {

          margin-bottom: 0px;
         padding-top: 70px;
         padding-bottom: 70px;
         position: relative;
         overflow: auto;
     }
     .navbar {
         padding-top: 15px;
         padding-bottom: 15px;
         border: 0;
         border-radius: 0;
         margin-bottom: 0;
         font-size: 15px;
         letter-spacing: 3px;
     }
     .navbar-nav  li a:hover {
         color: #1abc9c !important;
     }
     #img {
        border-radius: 50%;
      }
      .parallax{
                margin-top: 0px;
                background:no-repeat center;
                background-attachment: fixed;
                background-size: cover;
            }
          @media only screen and (max-width: 1199px) {

            .parallax{
                margin-top: 0px;
                background:no-repeat center;
                background-attachment: scroll;
                background-size: cover;
            }
          }

          .parallax h1{
                text-align: center;
                position: relative;
                top: 10vh;
                color: rgb(255,255,255);

            }
          .parallax p{
                text-align: center;
                position: relative;
                top: 12vh;
                color: rgb(255,255,255);
            }

 </style>
  </head>

  <body>
<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
    <nav class="navbar navbar-default navbar-fixed-top">

      <div class="container">

        <div class="navbar-header" id="panelPrecios">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/profile">
            Welcome <%= @user.name %>
            <span><img src="assets/<%= @user.image %>" id="img" width="30px" height="30px" class="d-inline-block align-top" alt=""></span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li></li>
            <li><a href="#">Viewing As: <%= session[:type] == 1 ? 'Applicant' : 'Company' %></a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Find A Match</a>
              <div class="dropdown-menu">
                <% if session[:type] == -1 %>
                    <% if Company.find(@user.company_id).openings.any? %>
                      <p> <a href='/companies/<%=@user.company_id%>'>Openings: <%= Company.find(@user.company_id).openings.count %> </a>
                      <p> <a href='/openings/new'> Add more openings</a><br>
                      <p> <a href='/matches'> Matches: <%= @user.company_matches.count %> </a></p>
                      <%= link_to 'Match with Applicants', applications_path %>
                    <% else %>
                      <% if Company.find(@user.company_id).openings.count > 0 %>
                        <p> Openings: <%= Company.find(@user.company_id).openings.count %> </p>
                      <% else %>
                        <%= link_to "Create An Opening", new_opening_path %>
                      <% end %>

                    <% end %>

                  <%= form_tag request.original_url, method: :get do %>
                    <%= hidden_field_tag 'session_flipper', -1 %>
                    <%= submit_tag('Switch to Employee View', class: "btn btn-primary") %>
                  <% end %>
                <% else %>
                  <%= link_to 'Match with Companies', openings_path %>
                  <p> <a href='/matches'> Matches: <%= @user.user_matches.count %> </a></p>

                  <% if @user.company_id == nil %>
                    <%= link_to "Become an Employer", new_company_path %>
                  <% else %>

                  <%= form_tag request.original_url, method: :get do %>
                    <%= hidden_field_tag 'session_flipper', -1 %>
                    <%= submit_tag('Switch to Company View', class: "btn btn-primary") %>
                  <% end %>

                  <% end %>

                <% end %>

              </div>
            </li>



            <!-- Dropdown -->

          </ul>
        </div>
      </div>
    </nav>

<% end %>



  <%= yield %>

  </body>
</html>
