<!DOCTYPE html>
<html>
  <head>
    <title>TinderJobs</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
     body {
         font: 20px Montserrat, sans-serif;
         line-height: 1.8;
         color: #f5f6f7;
     }
     p {font-size: 16px;}
     .margin {margin-bottom: 45px;}
        .bg-1 {
            background-color: #2c3e50;
           color: #ecf0f1;
           min-height: 90vh;
       }
     .bg-2 {
         background-color: #474e5d; /* Dark Blue */
         color: #ffffff;
     }
     .bg-3 {
         background-color: #ffffff; /* White */
         color: #555555;
     }
     .bg-4 {
         background-color: #2f2f2f; /* Black Gray */
         color: #fff;
     }
     .container-fluid {
         padding-top: 70px;
         padding-bottom: 70px;
     }
     .navbar {
         padding-top: 15px;
         padding-bottom: 15px;
         border: 0;
         border-radius: 0;
         margin-bottom: 0;
         font-size: 12px;
         letter-spacing: 5px;
     }
     .navbar-nav  li a:hover {
         color: #1abc9c !important;
     }
 </style>
  </head>

  <body>
<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Welcome <%= @user.name %></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li></li>
            <li><a href="#">Viewing As: <%= session[:type] == 1 ? 'Applicant' : 'Company' %></a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

<% end %>

    <% if session[:user_id] %>


    <% if session[:type] == -1 %>
      <% if @user.company_id == nil %>
        <%= link_to "Become an Employer", new_company_path %>
      <% else %>
        <p>View / Create Openings: <%= Company.find(@user.company_id).openings.count %> </p>
        <%= link_to 'Match with Applicants', '/' %>
        <%= link_to 'COMPANY MATCHES (X)', matches_path  %>
        <%= link_to "Your #{Company.find(@user.company_id).name} Employee Page", company_path(@user.company_id) %>
      <% end %>

        <% if Company.find(@user.company_id).openings.any? %>
          <p> <a href='/companies/<%=@user.company_id%>'>Openings: <%= Company.find(@user.company_id).openings.count %> </a>
          <p> <a href='/openings/new'> Add more openings</a><br>
          <p> <a href='/matches'> Matches: <%= @user.company_matches.count %> </a></p>
          <%= link_to 'Match with Applicants', applications_path %>
        <% else %>
          <% if Company.find(@user.company_id).openings.count > 0 %>
            <p> Openings: <%= Company.find(@user.company_id).openings.count %> </p>
          <% else %>
            <%= link_to "Create An Opening", new_opening_path %>
          <% end %>

        <% end %>

      <%= form_tag request.original_url, method: :get do %>
        <%= hidden_field_tag 'session_flipper', -1 %>
        <%= submit_tag 'Switch to Employee View' %>
      <% end %>

    <% else %>
      <p>Applications Swiped: <%= @user.applications.count %> </p>
      <%= link_to 'Match with Companies', openings_path %>
      <p> <a href='/matches'> Matches: <%= @user.user_matches.count %> </a></p>

      <% if @user.company_id == nil %>
        <%= link_to "Become an Employer", new_company_path %>
      <% else %>

      <%= form_tag request.original_url, method: :get do %>
        <%= hidden_field_tag 'session_flipper', -1 %>
        <%= submit_tag 'Switch to Company View' %>
      <% end %>

      <% end %>

    <% end %>

    <% flash.each do |key, value| %>
    <em><%= value %></em>
    <% end %>

  <% end %>
    <%= yield %>


    <div class="container-fluid text-center bg-1 col-md-12 ">
    <div class="row col-md-6 col-md-push-3" style="background: #ecf0f1; border-radius: 5px">


    </div>
    </div>

  </body>
</html>
