<h1>Match with Applicants</h1>

<% if @application.nil? == false %>
<%= @opening.title %>
<br>
  <%= @applicant.nil? ? "No Resume Available" : @applicant.description %>

    <%= form_tag(application_path(@application), method: :patch) do %>
      <%= hidden_field_tag "id", @application.id %>
      <%= button_tag "Like", name: "like", value: "true" %>
      <%= button_tag "Reject", name: "like", value: "false" %>
    <% end %>
<% end %>

 <!-- link to the application id, the controller will change the value to true or false -->
<br>
