<h1>Match with Applicants</h1>

<% if @application.nil? == false %>
  <%= @applicant.nil? ? "No Resume Available" : @applicant.description %>
    <%= @opening.title %>
    <%= form_tag(applications_path, method: "put") do %>
      <%= button_tag "Like", name: "like", value: "true" %>
      <%= button_tag "Reject", name: "like", value: "false" %>
    <% end %>
<% end %>

 <!-- link to the application id, the controller will change the value to true or false -->
<br>
