
<% if session[:type] == 1 %>
<div class="container-fluid text-center bg-1" style="margin-top: 5%; padding-top: 20vh">
<div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1;">
  <h1>Your Matches</h1>
  <br>
  <% if @user.user_matches.empty? %>
    <p>You have no matches</p>
  <% else %>
    <% @user.user_matches.each do |match| %>
      <h2>Hooray <%= match.opening.company.name%> likes you!</h2>
      <h2><%= match.opening.title %></h2>
      <h2><%= match.opening.description %></h2>
      <br>
      <p>Salary: <%= match.opening.salary %></p>
      <br>
      <p>Location: <%= match.opening.zip_code %></p>
      <br>

    <% end %>
  <% end %>
</div>
</div>
<% else %>
<div class="container-fluid text-center bg-1" style="margin-top: 5%; padding-top: 20vh">
<div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1;">
  <% @user.company_matches.each do |match| %>
    <h1>Your <%= match.opening.title %> Opening Has A Match</h1>
    <br>
    <h2>Applicant: <%= match.applicant.name %></h2>
    <img src="assets/<%= match.applicant.image %>" id="img" width="100px" height="100px">
    <br>
    <br>
    <p><%= match.applicant.resume.description %></p>
  <% end %>
</div>
</div>
<% end %>
