
<% if session[:type] == 1 %>
<div class="container-fluid text-center bg-1" style="margin-top: 4%; padding-top: 20vh">
<div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1;">
  <h1>Your Matches</h1>
  <br>
  <% if @user.user_matches.empty? %>
    <p>You have no matches</p>
  <% else %>
    <% @user.user_matches.each do |match| %>
      <h2>Hooray <%= match.opening.company.name%> likes you!</h2>
      <h2>Postion: </h2>
      <p><%= match.opening.title %></p>
      <h2>Description:</h2>
      <p><%= match.opening.description %></p>
      <br>
      <p><b>Salary: </b></p>
      <p>$<%= match.opening.salary %>/year</p>

      <br>
      <p>Location: <%= match.opening.zip_code %></p>
      <br>

    <% end %>
  <% end %>
</div>
</div>
<% else %>
<div class="container-fluid text-center bg-1" style="margin-top: 5%; padding-top: 20vh">
<div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1; padding-bottom: 1%;">

  <% if @user.user_matches.empty? %>
    <p>You have no matches</p>
  <% else %>
  <h1>You have matches!</h1>
    <% @user.company_matches.each do |match| %>
    <br>
      <div class="card col-md-4 col-md-push-4" style="overflow: auto; width: 30%; background: #1abc9c; border-radius: 2%; padding-top: 1%;">
        <img src="assets/<%= match.applicant.image %>" id="img" width="100px" height="100px">
        <div class="card-body">
          <h3 class="card-title"><%= match.applicant.name %></h3>
          <p class="card-text"><%= match.applicant.resume.description %></p>
        </div>
      </div>
    <br>
    <br><br>
    <br>


    <br><br><br>
    <% end %>
  <% end %>

</div>
</div>
<% end %>
