<% if session[:type] == 1 %>
<div class="container-fluid text-center bg-1 col-md-12" style="margin-top: 4%; padding-top: 20vh">
    <div class="row col-md-2 col-md-push-1 slideUp" style="border-radius: 5px; background-color: #ecf0f1; padding-left: 0; padding-right: 0;">
      <div class="card" style="overflow: auto;">
        <span style="position:absolute; top:25%; left:30%;"><img src="assets/<%= @user.image %>" id="img" width="100px" height="100px" class="d-inline-block align-top" alt=""></span>

        <img class="card-img-top img-fluid img-responsive" src="http://7wallpapers.net/wp-content/uploads/2_New-York.jpg">
        <br>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text"><b><%= @user.name %></b></p>
          <p class="card-text"> <%= @user.resume.description if !@user.resume.nil? %></p>
        </div>
      </div>
    </div>

    <div class="row col-md-3 col-md-push-2 slideUp" style="border-radius: 5px; background-color: #ecf0f1; padding-bottom:1%;">
      <h1> Your Profile </h1>
      <%= form_for :user do |f| %>
        <p>Name: <%= f.text_field :name, class: 'form-control' %> </p>
        <p>Industry: <br><%= f.collection_select(:pref_sector_id, Sector.all, :id, :name) %></p>
        <p>Max. distance to Job: <%= f.text_field :pref_distance, class: 'form-control' %> miles</p>
        <p>Zip: <%= f.text_field :zip_code, class: 'form-control' %></p>
        <%= f.submit('Save Preferences', class: "btn btn-primary") %>
      <% end %>
    </div>

    <div class="row col-md-4 col-md-push-3 slideUp" style="border-radius: 5px; background-color: #ecf0f1;">


      <h1> Resume</h1>

        <%= form_for :resume, url: "/profile/resume/edit" do |f| %>
          <p>
          Title: <br>
          <%= f.text_field :title  %>
          <%= f.hidden_field :applicant_id, value: @user.id, class: 'form-control' %>
          </p>
          <p>
          Paste Resume Here:<br>
          <%= f.text_area :description, class: 'form-control' %>
          <p>
          <%= f.submit("Save", class: 'btn btn-primary') %>
        <% end %>

    </div>

  </div>

<% else %>
<div class="container-fluid text-center bg-1 col-md-12" style="margin-top: 4%; padding-top: 20vh">
  <div class="row col-md-6 col-md-push-3 slideUp" style="border-radius: 5px; background-color: #ecf0f1;">

    <% if Company.find(@user.company_id) %>
      <% @company = Company.find(@user.company_id) %>
      <%= form_for @company do |f| %>

        <h3>Edit Company<h3>

        <p><%= f.label :name %></p>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.collection_select :sector_id, Sector.all, :id, :name, {prompt: ""}, class: 'form-control' %>

        <h3>Join Existing Company</h3>

        <p><%= f.label :name %></p>
        <%= f.collection_select :id, Company.all, :id, :name, {prompt: ""}, class: 'form-control'%>
      </br>
        <p><%= f.submit 'Edit Company', class: 'btn btn-primary' %></p>

      <% end %>
    <% end %>

  </div>
</div>

<% end %>
