<h1> Profile </h1>

<h1> Hi, <%= @user.name %> </h1>

<% if @user.company_id == nil %>
  <%= link_to "Become an Employer", new_company_path %>
<% else %>
  <%= link_to "Your Company's Page", company_path(@user.company_id) %>
<% end %>

<h2> Preferences </h2>

<%= form_for :user do |f| %>

  <p>Name: <%= f.text_field :name %> </p>
  <p>Industry: <%= f.collection_select :pref_sector_id, Sector.all, :id, :name %></p>
  <p>Max. distance to Job: <%= f.text_field :pref_distance %> miles</p>
  <p>Zip: <%= f.text_field :zip_code %></p>
  <%= f.submit 'Save Preferences' %>

<% end %>

<% if @user.resume %>
  <h2> Here's your resume </h2>
  <p><h3><%= @user.resume.title %></h3>
  <p><%= @user.resume.description %>
  <p><a href='<%= resume_edit_path %>'> <%= button_tag "Edit your resume" %> </a></p>
<% else %>
  <p><a href='<%= resume_new_path %>'> <%= button_tag "Add your resume" %></a></p>
<% end %>

<%= link_to "See all openings", openings_path %>


<h1>Your Matches</h1>
<% if @matches.nil? == false %>
<% @matches.each do |match| %>

<p><%= match.title %></p>

<% end %>
<% end %>
