<% if session[:type] == 1 %>

    <div class="row col-md-4 col-md-push-1" style="border-radius: 5px; background-color: #ecf0f1;">

      <h1> Your Profile </h1>
      <%= form_for :user do |f| %>

        <p>Name: <%= f.text_field :name %> </p>
        <p>Industry: <%= f.collection_select :pref_sector_id, Sector.all, :id, :name %></p>
        <p>Max. distance to Job: <%= f.text_field :pref_distance %> miles</p>
        <p>Zip: <%= f.text_field :zip_code %></p>
        <%= f.submit('Save Preferences', class: "btn btn-primary") %>

      <% end %>

    </div>

    <div class="row col-md-4 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1;">


      <h1> Resume</h1>

        <%= form_for :resume do |f| %>
          <p>
          <label> Title: </label><br>
          <%= f.text_field :title  %>
          </p>
          <p>
          <label>Paste Resume Here:</label><br>
          <%= f.text_area :description %>
          <p>
          <%= f.submit("Save", class: 'btn btn-primary') %>
        <% end %>

    </div>

<% else %>
<div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1;">

  <% if Company.find(@user.company_id) %>
    <% @company = Company.find(@user.company_id) %>
      <% if @company.openings.any? %>
        <h1> <%= @company.name %> Openings </h1>
        <br>
        <% @company.openings.each do |opening| %>
          <br>
          <%= link_to opening.title, opening_path(opening)  %>
          <br>
        <% end %>
        <br>
      <% end %>
  <% end %>

</div>

<% end %>
