<h1> this is the profile page! </h1>

<h1> Hi, <%= @user.name %> </h1>

<% if @user.company_id == nil %>
  <%= link_to "Become an Employer", new_company_path %>
<% else %>
  <%= link_to "Your Company's Page", company_path(@user.company_id) %>
<% end %>


<h1> LINK TO APPLICANT PAGE </h1>





<% if @user.resume %>
  <h2> Here's your resume </h2>
  <p><h3><%= @user.resume.title %></h3>
  <p><%= @user.resume.description %>
  <p><a href='<%= resume_edit_path %>'> <%= button_tag "Edit your resume" %> </a></p>
<% else %>
  <p><a href='<%= resume_new_path %>'> <%= button_tag "Add your resume" %></a></p>
<% end %>

<%= link_to "See all openings", openings_path %>
