<h1> New </h1>

<% if @resume.errors %>

  <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

<% end %>

<%= form_for :resume do |f| %>

  Title: <%= f.text_field :title %><p>
  Paste Resume Here: <%= f.text_area :description %><p>
  <%= f.hidden_field :applicant_id, value: @applicant_id %>
  <%= f.submit %>

<% end %>
