<div class="container-fluid text-center bg-1" style="margin-top: 5%; padding-top: 20vh">
  <div class="row col-md-6 col-md-push-3" style="border-radius: 5px; background-color: #ecf0f1; padding-bottom: 1%;">
<% if @resume.errors %>

  <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

<% end %>

<%= form_for :resume do |f| %>

  <h2>Title: </h2>
  <%= f.text_field :title, class: 'form-control' %>
  <h2>Paste Resume Here: </h2>
  <%= f.text_area :description, class: 'form-control' %><p>
  <%= f.hidden_field :applicant_id, value: @applicant_id %>
  <br>
  <%= f.submit("Save Resume", class: 'btn btn-primary') %>

<% end %>
</div>
</div>
