<h1> All the Openings </h1>

<h2> Filters </h2>
<%= form_tag openings_path, method: :get do %>
Industry: <%= collection_select :sector, :sector_id, Sector.all, :id, :name, {:prompt => "All"} %>
Distance: <%= text_field_tag :distance %> from <%= @user.zip_code %>
<%= submit_tag('Filter') %>
<% end %>


<ol>

<% opening = @openings.sample %>

<% if !opening.nil? %>
  <li> <h4><%= opening.title %> </h4></li>
  <%= opening.description %>
  <%= form_tag('/applications', method: :post) do %>
    <%= hidden_field_tag 'opening_id', opening.id %>
    <%= submit_tag 'Apply' %>
  <% end %>
<% end %>


</ol>
