<h1> All the Openings </h1>

<h2> Filters </h2>
<%= form_tag openings_path, method: :get do %>
Industry: <%= collection_select :sector, :sector_id, Sector.all, :id, :name, {:prompt => "All"} %>
Distance: <%= text_field_tag :distance %> from <%= @user.zip_code %>
<%= submit_tag('Filter') %>
<% end %>


<ol>

<% @openings.each do |opening| %>

  <li> <h4><%= opening.title %> </h4></li>
  <%= opening.description %>
  <%= button_tag 'Apply' %>
  <p>

<% end %>

</ol>
