<h1> Available Openings </h1>

<% if !@user.resume.nil? %>

<% opening = @openings.sample %>

<% if !opening.nil? %>
  <h4><%= opening.title %> </h4>
  <%= opening.description %>
  <%= form_tag('/applications', method: :post) do %>
    <%= hidden_field_tag 'opening_id', opening.id %>
    <%= submit_tag 'Apply' %>
    <%= submit_tag 'Reject' %>
  <% end %>
<% end %>

<% else %>

<h1><%= link_to 'Please add your resume to see openings', resume_new_path %></h1>

<% end %>
